/* Because I like separate files, dammit */

#canvas {
    text-align: center;
    border: 5px ridge #663300;
}

#game {
    width:700px;
}

.tooltip{
    color: #34495E;
    width: 200px;
    line-height: 1.4;
    margin-top: 3px;
    padding: 5px 0px;
    padding-bottom: 8px;
    display:block;
    position: relative !important;
    font-size: 14px;
    opacity: 1;
    visibility:hidden;
}

.tooltip .tooltip-arrow {
    border-width: 0px 9px 9px;
    margin-left: -9px;
    top: -1px;
    left: 50%;
    border-color: transparent;
    border-bottom-color: #34495E;
    border-style: solid;
    width: 0px; height: 0px;
    position:absolute;
}

.tooltip .tooltip-inner{
    background-color: #34495E;
    border-radius: 6px 6px 6px 6px;
    width: 183px;
    text-align: center;
    line-height: 18px;
    max-width: 200px;
    color: #FFFFFF;
    padding: 12px;

}

/* apply to elements, containing a data-title attribute */
[data-title] {
    position: relative;
    padding: 0;
}

[data-title]::before,
[data-title]::after {
    position: absolute;
    left: 50%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    background: #ffffab;


    -moz-transition: opacity 200ms 50ms linear;
    -webkit-transition: opacity 200ms 50ms linear;
    -ms-transition: opacity 200ms 50ms linear;
    -o-transition: opacity 200ms 50ms linear;
    transition: opacity 200ms 50ms linear;
}

[data-title]:hover::before,
[data-title]:hover::after {
    opacity: 1;
    visibility: visible;
}

/* the tooltip */
[data-title]::before {
    content: attr(data-title);
    width: 120px;
    height: 30px;
    padding: 4px;
    margin: -40px 0px 0 -65px;
    font: normal 11px/16px Arial, Sans-serif;
    color: #000000;
    cursor: default;
    border: 1px solid black;


}

/* the pointer */
[data-title]::after {
    content: "";
    width: 8px;
    height: 8px;
    margin: -24px 0 0 -4px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.short [data-title]::after {
    margin: 10px 0 0 -4px;
}


#HUD {
    width: 704px;
    background-color: rgb(160, 3, 2);
    border-radius: 5px 5px 5px 5px;
    border: 1px ridge #000000;
    font-size:17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    position:relative;
    padding-top: 1px;
}

img.HUDIcon {
    width: 20px;
    height: 20px;
    vertical-align:text-top;
    padding-bottom:3px;
    padding-top: 0px;
}

#minionsIcon{
    padding-left:4px;
}

#money {
    float:left;
    padding-left: 10px;
}

#minions {
    text-align: center;
    float:left;
}

#minionsAmount{
    margin-left: -5px;
}

#level{
    text-align:center;
    margin-left: -30px;
}

#tech {
    float:right;
    padding-right: 25px;
}

#trapWindow {
    height:540px;
    width:130px;
    background-color: #a10504;
    float:right;
    border: 5px ridge #663300;
    color: #FFFFFF;
    vertical-align: middle;
    position:relative;
}

input[type=radio] {
    display:none;
    margin:10px;
    vertical-align: middle;

}

input[type=radio] + label {
    margin:0px;
    margin-top: 3px;
    padding: 2px;
    background-color: #666666;
    color: #000000;
    width: 50px;
    height: 50px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #666666;
    margin-left: 4px;
}

input[type=radio]:checked + label {
    background-color: #CCCCCC;
    border: 1px solid white;
}

#sendButton {
    position:absolute;
    width: 100%;
    right: 0; bottom: 0;
    height: 30px;
    background-color: #f86c43;
    border: 1px solid white;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}